<div class="banner-area">
  <div class="content-area">
      <div class="content">
        <h1>W-D-W-EAT ?</h1>
        <p>Where do we eat today ?</p>
          <p class="parcours-item">1/ Je choisis 3 restaux</p>
          <p class="parcours-item">2/ J'envoie des invitations</p>
          <p class="parcours-item">3/ Les invités votent et je vais au restaurant choisi avec eux :-)</p>
        <%# <button class="btn">
          C'est parti !<br>
          Voir les restaus
        </button> %>
        <%= link_to "C'est parti !", results_path, :class => "btn"%>
      </div>
  </div>
</div>

<!--main area-->
<div class="container-landing">
  <div class="box">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi tenetur odio illo, ullam inventore nihil dicta! Repellat quas hic voluptas officiis laborum commodi, minima maiores dolorem tempora voluptatibus, repudiandae quibusdam?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi tenetur odio illo, ullam inventore nihil dicta! Repellat quas hic voluptas officiis laborum commodi, minima maiores dolorem tempora voluptatibus, repudiandae quibusdam?
    </p>
  </div>
  <div class="box">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi tenetur odio illo, ullam inventore nihil dicta! Repellat quas hic voluptas officiis laborum commodi, minima maiores dolorem tempora voluptatibus, repudiandae quibusdam?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi tenetur odio illo, ullam inventore nihil dicta! Repellat quas hic voluptas officiis laborum commodi, minima maiores dolorem tempora voluptatibus, repudiandae quibusdam?
    </p>
  </div>
    <div class="box">
      <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi tenetur odio illo, ullam inventore nihil dicta! Repellat quas hic voluptas officiis laborum commodi, minima maiores dolorem tempora voluptatibus, repudiandae quibusdam?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi tenetur odio illo, ullam inventore nihil dicta! Repellat quas hic voluptas officiis laborum commodi, minima maiores dolorem tempora voluptatibus, repudiandae quibusdam?
      </p>
    </div>
    <div class="box">
      <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi tenetur odio illo, ullam inventore nihil dicta! Repellat quas hic voluptas officiis laborum commodi, minima maiores dolorem tempora voluptatibus, repudiandae quibusdam?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi tenetur odio illo, ullam inventore nihil dicta! Repellat quas hic voluptas officiis laborum commodi, minima maiores dolorem tempora voluptatibus, repudiandae quibusdam?
      </p>
    </div>
</div>
