<div class="container">
  <div data-controller="refresh-list">

    <div class="form-inline">
      <%= form_with url: restaurants_path, method: :get, html: { class: "mb-5", data: { refresh_list_target: "form" } } do |f| %>
      <div class="form-group" >
        <%= f.label :query, "Search for: term" %>
        <%= f.text_field :query,
                        class: "form-control",
                        placeholder: "search for restaurants, place",
                        value: params[:query],
                        data: {
                          refresh_list_target: "searchInput",

                        } %>
        <%= f.submit "Search", data: {action: "click->refresh-list#postSearch" } %>
      <% end %>
      </div>
    </div>

      <div class="" >
        <!-- [...] -->
        <div class="row justify-content-around" data-refresh-list-target="list"></div>
      </div>


      
    </div>
  </div>
</div>
