<%= @selection%>
<%= @selection.user_id %>
<%= @selection.name%>

<%= link_to 'Ajouter des restaurants à la selection', results_path %>
<div>
  <h2>Invités 1 : nom</h2>
  invité
</div>

<div>
<h2>Restaurants selectionnés</h2>
Restaurant card
score vote restaurant
</div>
